@charset "UTF-8";
.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.wrapper-navigator {
    position: relative;
}

.navigator {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.navigator > li {
    flex: 1 1 auto;
    position: relative;
}

.navigator > li::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: crimson;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; transition: 0.3s;
}
.navigator > li:hover::after,
.navigator > li.active::after {
    opacity: 1;
}

.navigator > li > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    position: absolute;
    width: calc(100% / 4);
    height: 3px; background-color: crimson;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.visual {
    height: 200px;
    background-color: #CACACA;
}

/* SUBPAGE */
.visual-sub {
    background-color: #ACACAC;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.visual-sub.company {background-image: url(../../images/pc01.jpg);}
.visual-sub h2 {text-shadow: 1px 1px 1px black}
.visual-sub.product {background-image: url(../../images/pc02.jpg);}

.contents {
    display: flex;
}

.contents li {
    flex: 1 1 25%;
}

.contents li a {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.sub .tab {display: flex;}
.sub .tab li {flex: 1 1 25%; height: 40px; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.sub .tab li.active {background-color: #ACACAC;}

.sub .content > div {display: none; border: 1px solid white; padding: 30px;}
.sub .content > div:first-child {display: block;}

.sub .content > div h2 {text-align: center; padding: 18px 0;}
.sub .content > div .currentLocation {text-align: right;}