@charset "UTF-8";

/* html,
body {
    height: 100%;
} */

body {
    background-color: black;
    color: white;
}

.container {
    width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
}

.navbar {
    display: flex;
}

.top-menu {
    margin-left: auto;
}

.top-nav {
    display: flex;
    height: 100%;
}

.top-nav a {
    display: flex; align-items: center;
    padding: 0 20px;
}

.top-nav a:hover {
    background: red;
    color: white;
}

.top-nav i {
    margin-right: 4px;
}

.toggle-menu {
    width: 48px;
    background-color: #fff;
    margin-left: auto;
    margin-right: 16px;

    display: none;
}

.bg-primary {
    background-color: red;
}

/* RESPONSIVE */
@media (max-width: 1399px) {
    
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    body {
        color: gold;
    }

    .container {
        width: 100%;
    }

    .toggle-menu {
        display: block;

        position: relative;
    }

    .top-menu {
        background-color: black;
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        display: flex; justify-content: center; align-items: center;
    }

    .top-menu.active {
        left: 0;
    }

    .top-nav {
        height: initial;
        flex-direction: column;
    }

    .top-nav a {
        padding: 16px 20px;
    }
}

@media (max-width: 575px) {

}